  * {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif
}
.arrow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}