.container {
    width: max-content;
    margin: 0 auto;
}

.legend { display: flex; /* Дозволяє елементам переходити на новий рядок при зменшенні ширини екрана */ 
    justify-content: center;
    flex-wrap: wrap; /* Відстань між кольоровими блоками */ 
    gap: 8px; /* Відступ зверху і знизу */ 
    margin: 20px 0; } /* Кожен пункт легенди */

.legend span { display: inline-block; /* Відступ всередині кольорового блоку */ 
    padding: 8px 12px; /* Текст не переноситься всередині одного блоку */ 
    white-space: nowrap; font-size: 14px; }

.additional-elements {
    width: max-content;
    margin: 0px auto;
}

.element-row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1px;
}

/* назва Лантаноїди / Актиноїди */
.series-name {
    width: 90px;
    height: 82px;
}

/* сама клітинка */
.element-row > .element {
    width: 80px;
    height: 82px;
    min-width: 80px;
    flex-shrink: 0;
    border: 1px solid white;
    padding: 2px;
    position: relative;
}

/* номер */
.element-row > .element .number {
    font-size: 12px;
}

/* символ */
.element-row > .element .symbol {
    font-size: 25px;
    font-weight: bold;
    
}

/* назва */
.element-row > .element .name {
    font-size: 11px;
}

/* маса */
.element-row > .element .mass {
    font-size: 10px;
}

/* електрони */
.element-row > .element .electrons {
    position: absolute;
    right: 2px;
    top: 2px;

    width: 15px;

    text-align: center;
    font-size: 10px;
    line-height: 1.1;
}

/* кольори */
.lanthanide {
    background-color: lightpink;
}

.actinide {
    background-color: lightblue;
}

